
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to jungle.com</h1>

    <div>
    Your order sums up to : <%= @order.total_cents %>
You bought : <% @order.line_items.each do |item| %>
          <%= item.product.name%>
        <% end %>
      </div>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>