main section.products-index,
main section.categories-show {

  .products {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-around;

    .product {
      // flex:      1;
      max-width: 260px;
      // so that footer within can be positioned absolutely
      position:  relative;

      border:        1px solid #ccc;
      border-radius: 5px;
      padding:       15px;
      padding-bottom: 80px;
      margin-top:    20px;
      // margin:        10px;

      aside.sold_out{
        position: absolute;
        background-color: red;
        top: 0;
        left: 0;
        padding: 10px;
        background-color: #FDAEAE;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 20px;
        font-size: 1.2em;
        font-style: bold;
        color: white;

      }

      header img {
        max-width: 100%;
        max-height: 140px;
        margin: auto;
        display: block;
      }

      footer {
        position: absolute;
        bottom: 0;
        left:   0;
        background-color: #EEE;
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
        opacity: 0.3;
        transition: all 0.3s;
      }

      aside.price {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: #eee;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 20px;
        font-size: 0.8em;
      }

      &:hover {

        border-color: #999;

        footer {
          opacity: 1.0;
        }
      }

    }
  }
}

main section.products-show {

  .product-detail {
    img.main-img {
      max-width: 100%;
    }
  }
}

.not_logged_in {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 270px;

  p {
    padding-bottom: 10px
  }
}

.not_logged_in2 {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;

  p {
    padding-bottom: 10px
  }
}

.not_logged_in3 {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;

  p {
    padding-bottom: 10px
  }
}



.review_title {
  font-size: x-large;
  font-weight: bold;
}

.average {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.average_2 {
  position: absolute;
  bottom: 0;
  padding-bottom: inherit;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.review_form {
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.review_button {
   display: flex;
   flex-direction: row-reverse;
   padding-right: 200px;
}

.single_review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.price {
  font-weight: bold;
}

.signed_in {
  font-weight: bold;
  position: absolute;
  right: 100px;
}

.categories {
  width: 100px;
}

.register_button {
  display: flex;
  padding-left: 295px;
}

.login_button {
  display: flex;
  padding-left: 304px;
}

.login {
  padding-top: 20px;
}

.description {
  padding-bottom: 40px;
}